#head{
  font-family:'Lato', sans-serif;
  background-color:#0033CC;
  height:50px;
  padding:0px
}

#maintab {
  display: flex;
  overflow: hidden;
  list-style-type: none;
  justify-content: space-between;
  margin:0px;
  padding:10px;

}
#lefttabs {
  display:flex;
  justify-content: space-between;
  width:200px;
}
#righttabs {
  display:flex;
  justify-content: space-between;
  width: 90px;
}
.tabs{
  padding: 5px;
}

li a{
  color:white;
  list-style-type: none;
  display:block;
  text-decoration: none;
  border:5px;
}
.nav-hover a:hover {
 background-color:black;
}

.header-container{
  position: relative;
  text-align:left;
}

.title{
  position: absolute;
  top: 19%;
  left: 7%;
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
  
}

.content{
  position: relative;
  text-align:right;
}

.intro{
  position: absolute;
  top: 65%;
  right: 10%;
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
  color:rgb(221, 207, 207)
}

body{
  margin:0;
  background-color: rgb(213, 189, 223);
}

#foot{
  font-family:'Lato', sans-serif;
  background-color:#0033CC;
  height:30px;
  padding:5px
}

.copyright{
  font-family:'Lato', sans-serif;
  font-size:12;
  text-align: center;
}